.dropdown
    position: relative
    width: fit-content

.dropdown__trigger
    height: 38px
    width: 38px
    display: flex
    align-items: stretch
    justify-content: center
    padding-block: 6px
    background-color: #c9c8c8
    border-radius: 3px
    cursor: pointer

.dropdown__trigger-svg
    max-width: 100%

.dropdown__body
    max-width: 260px
    width: max-content
    position: absolute
    // background-color: #ffffff

.dropdown__body_top
    top: 0
    transform: translateY(-100%)

.dropdown__body_bottom
    bottom: 0
    transform: translateY(100%)

.dropdown__body_left
    right: 0

.dropdown__body_right
    left: 0

.dropdown__body_hidden
    visibility: hidden